html,body{ font-family:"Î¢ÈíÑÅºÚ",Tahoma,Verdana,Arial; font-size:12px; width:100%; height:100%; margin:0; padding:0;}
html,body,table,td,tr,th,image,ul,li{ margin:0;padding:0; border:none;}
.container{ max-width:640px;min-width:320px; margin:0 auto;}
.container .header{ background:#eee; border:1px solid #ddd; height:31px;}
.container .header span.title{ background:url(../images/home.png) no-repeat left center ; padding-left:20px; font-size:14px ;}
.container .footer{ background:#eee; border:1px solid #ddd; height:40px; text-align:center; clear:both;}
a:active,a:hover,a:link{text-decoration:none;}
ul,li{list-style-type:none;}
.container .main .product_box{font:28px bold;}
.container .main .productList{border-top:1px solid #e5e5e5;padding-top:15px;}
.container .main .productList ul li{ float:left;width:33%; position:relative;}
.container .main .productList ul li img{width:97%; margin:0 auto;}
.container .main .productList ul li .price{color:#F00;font-size:14px; margin-right:5px;}
.container .main .productList ul li .you{background:url(../images/you.gif) no-repeat; display:inline-block; width:27px; height:15px;}